{% block head %}
<meta charset="utf-8" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>threat_note | Security Researchers Notebook</title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />

<!-- Bootstrap core CSS     -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-tokenfield.css') }}"/>

<!-- Animation library for notifications   -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}"/>

<!--  Light Bootstrap Table core CSS    -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css') }}"/>

<!--  CSS for Demo Purpose, don't include it in your project     -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}"/>

<!--     Fonts and icons     -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}"/>
{% endblock %}
