{% block userdropdown %}
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="/profile" class="dropdown-toggle capitalize" data-toggle="dropdown">{{ current_user.user }}<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/profile">Edit Profile</a></li>
        <li><a href="/settings">Edit Settings</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}
