.masthead{
    height:198px;
     background-position: left top;
    background-image:url("../images/banner.png");
    background-repeat:no-repeat;
    background-color: #4c6275
}

/* Misc
-------------------------------------------------- */
.mono {
    font-family: monospace;
}