<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Security Researchers Notebook">
    <meta name="author" content="Defense Point Security">

    <title>threat_note</title>

    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/moment.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/transition.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/collapse.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/bootstrap-table.js"></script>
    <script src="../../static/js/bootstrap-table-zh-CN.js"></script>
    <script src="../../static/js/Chart.js"></script>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">threat_note | <small>Security Researchers Notebook</small></a>
        </div>
       
        <div id="navbar" class="navbar-collapse collapse">
          </ul>
        </div>
      </div>
    </nav>

     <div class="container-fluid">
      <div class="row">
       <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar list-group">
            <li class="list-group-item active">  
            <a href="/">Overview</a>
            </li>
            
            <li class="list-group-item">
            <span class='badge'>{{ totalcount }}</span>
            <a href="/indicators">Indicators</a>
            </li>
            
            <li class="list-group-item">
            <span class='badge'>{{ networkcount }}</span>
            <a href="/networks"><span style="padding-left:2em">Network Indicators</span></a>
            </li>
            
            <li class="list-group-item">
            <span class='badge'>{{ threatactorcount }}</span>
            <a href="/threatactors"><span style="padding-left:2em">Threat Actors</span></a>
            </li>
           
            <li class="list-group-item">
            <span class='badge'>{{ campaigncount }}</span>
            <a href="/campaigns"><span style="padding-left:2em">Campaigns</span></a>
            </li>

            <li class="list-group-item">
            <a href="/settings">Settings</a>
            </li>
            <li class="list-group-item">
            <a href="/about">About</a>
            </li>
            
      </div>
  </body>
</html>