{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  {% include "navbar.html" %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="card">
                <div class="header">
                  <h4 class="title">Add Relationship</h4>
                </div>
                <div class="content">
                  <form action="/addrelationship" enctype="application/x-www-form-urlencoded" method="POST">
                    <div class="row">
                      <div class="col-md-12">

                        <fieldset>
                            <div class="form-group">
                            <label>Indicator</label>
                            <select class="form-control" name="indicator">
                            {% for indicator in indicators %}
                              <option value="{{ indicator['object'] }}">{{ indicator['object'] }}</option>
                              {% endfor %}
                            </select>
                          </div>
                      </div>
                    </div>

                    <input type="hidden" class="form-control" name="id" value="{{ records['object'] }}">
                      <input type="hidden" class="form-control" name="type" value="{{ records['type'] }}">
                    <div style="float: right;">

                      <a href="/networks" class="btn btn-info btn-fill">Cancel</a>

                      <button type="submit" class="btn btn-info btn-fill">Submit</button>


                    </div>
                    <div class="clearfix"></div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container-fluid">
          <nav class="pull-left">
            <ul>
              <li>
                <a href="/about">
                                About
                            </a>
              </li>
              <li>
                <a href="/credits">
                                Credits
                            </a>
              </li>
            </ul>
          </nav>
          <p class="copyright pull-right">
            &copy; 2015 <a href="https://defpoint.com/">Defense Point Security</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</body>

<!-- Creating popup for new field-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Field</h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" action="/insert/newfield/" enctype="application/x-www-form-urlencoded" method="POST">
          <fieldset>

            <div class="form-group">
              <label for="inputnewfieldname" class="col-lg-2 control-label">Name</label>

              <div class="col-lg-10">
                <input type="text" class="form-control" name="inputnewfieldname" value="" placeholder="Registrar">
              </div>

            </div>

            <div class="form-group">
              <label for="inputnewfieldvalue" class="col-lg-2 control-label">Value</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" name="inputnewfieldvalue" value="" placeholder="GoDaddy">
              </div>
            </div>

            {% for item in entry %} {% if entry[item] == None %}
            <div></div>
            {% else %}
            <input type="hidden" class="form-control" name="{{ item }}" value="{{ entry[item] }}"> {% endif %} {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-info btn-fill">Submit</button>
      </div>
    </div>

    </fieldset>
    </form>
  </div>
</div>

{% endblock %}
