{% include "banners/header.html" %}
{% block content %}
  
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ul class="breadcrumb">
      <li><a href="/">threat_note</a></li>
      <li><a href="/networks">Indicators</a></li>
      <li class="active">Campaigns</li>
    </ul>
        This page lists the campaigns that have been associated with indicators in the database. Each campaign is in it's own table, with the campaign name at the top, and the indicators that are associated with that particular campaign. Clicking on an indicator in each campaign will take you to their object page, where you can edit or delete the indicator.
        </br>
        </br>

{% for campaign in campaignents %}
<center>
 <div class="row">
        <div class="col-md-6 col-lg-offset-3">
        <table data-toggle="table" data-striped="true" data-toolbar="#custom-toolbar">
            <thead>
                <tr>
                  {% if campaign|length == 0 %}
                  <th class="text-center">-</th>
                  {% else %}
                  <th class="text-center">{{ campaign }}</th>
                  {% endif %}
                </tr>
            </thead>
              <tbody>
              {% for camprec in campaignents[campaign] %}  
                <tr>
                  <td><a href="/campaign/{{ camprec }}/info">{{ camprec }}</td>
                </tr>
              {% endfor %}
              </tbody>
        </table>
        </div>
</center>
{% endfor %}

</div>
</div>

</div>

{% endblock %}
{% include "banners/footer.html" %}
