{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  <nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">About</a>
    </div>
    {% include "userdropdown.html" %}
  </div>
</nav>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Campaigns</h4>
            </div>
            <div class="content">
              This page lists the campaigns that have been associated with indicators in the database. Each campaign is in it's own table, with the campaign name at the top, and the indicators that are associated with that particular campaign. Clicking on an indicator in each campaign will take you to their object page, where you can edit or delete the indicator.</p>
            </div>
          </div>
        </div>
      </div>
      {% for campaign in campaignents %}
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="card">
            <div class="header">
              {% if campaign == "" %}
              <div style="float: right;">
                <a href="/download/unknown" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Download Indicators</a>
              </div>
              <h4 class="title"><i class="pe-7s-shield"></i> Unknown</h4>
              {% else %}
              <div style="float: right;"><a href="/download/{{ campaign }}" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Download Indicators</a>
              </div>
              <h4 class="title"><i class="pe-7s-shield"></i> {{ campaign }}</h4>
              {% endif %}
              <p class="category">Campaign Description
                <a href="/editcampaign/{{ campaign }}" class="fa fa-pencil fa-fw te dxt-muted"></a>
              </p>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <th>Indicator</th>
                </thead>
                <tbody>
                  {% for obj, type in campaignents[campaign][0].iteritems() %}
                  <tr>
                    {% if type == "IPv4" or type == "IPv6" or type == "Domain" or type == "Network" %}
                    <td><a href="/network/{{ obj }}/info">{{ obj }}</a></td>
                    {% elif type == "Threat Actor" %}
                    <td><a href="/threatactors/{{ obj }}/info">{{ obj }}</a></td>
                    {% elif type == "Hash" %}
                    <td><a href="/files/{{ obj }}/info">{{ obj }}</a></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include "footer.html" %}
</div>
{% endblock %}
