{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  <nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">About</a>
    </div>
    {% include "userdropdown.html" %}
  </div>
</nav>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Overview</h4>
            </div>
            <div class="content">
              Welcome to your threat_note overview page. Here you can find the latest indicators added to your databases, as well as other useful information to give you a birds eye view of your entries. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div style="" class="header">
              <div style="float: left;">
                <h4 class="title">Latest Indicators</h4>
                <p class="category">This table shows you the latest indicators entered into threat_note.</p>
              </div>
              <div style="float: right;">
                <a href="/newobject" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> New Object</a>
                {% if importsetting %}
                <a href="/import" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Import from Cuckoo</a>
                {% endif %}
              </div>
            </div>
            <div style="margin-top:60px" class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <th>Object</th>
                  <th>Object Type</th>
                  <th>First Seen</th>
                  <th>Last Seen</th>
                  <th>Campaign</th>
                  <th>Confidence</th>
                  <th>Diamond Model</th>
                  <th>Tags</th>
                </thead>
                <tbody>
                  {% for p in network %}
                  <tr>
                    {% if p['type'] == "Threat Actor" %}
                      <td><a href="/threatactors/{{ p['object'] }}/info">{{ p['object'] }}</a></td>
                    {% elif p['type'] == "Hash" %}
                      <td><a href="/files/{{ p['object'] }}/info">{{ p['object'] }}</a></td>
                    {% else %}
                      <td><a href="/network/{{ p['object'] }}/info">{{ p['object'] }}</a></td>
                    {% endif %}

                    <td>{{ p['type'] }}</td>

                    {% if p['firstseen']|length == 0 %}
                      <td>-</td>
                    {% else %}
                      <td>{{ p['firstseen'] }}</td>
                    {% endif %}

                    {% if p['lastseen']|length == 0 %}
                      <td>-</td>
                    {% else %}
                      <td>{{ p['lastseen'] }}</td>
                    {% endif %}

                    {% if p['campaign']|length == 0 %}
                      <td>-</td>
                    {% else %}
                      <td>{{ p['campaign'] }}</td>
                    {% endif %}

                    {% if p['confidence'] == "Low" %}
                      <td><i class="fa fa-circle text-warning"></i> {{ p['confidence'] }}</td>
                    {% elif p['confidence'] == "Medium" %}
                      <td><i class="fa fa-circle text-info"></i> {{ p['confidence'] }}</td>
                    {% elif p['confidence'] == "High" %}
                      <td><i class="fa fa-circle text-danger"></i> {{ p['confidence'] }}</td>
                    {% endif %}

                    <td>{{ p['diamondmodel'] }}</td>

                    {% if p['tags']|length == 0 %}
                      <td>-</td>
                    {% else %}
                      <td>{% for tag in p['tags'].split(",")[:4] %}
                        <button type="button" class="btn btn-default btn-fill btn-xs">{{ tag }}</button>
                      {% endfor %}
                      </td>
                    {% endif %}

                    <td class="td-actions text-right">
                      <a href="/relationships/{{ p['object'] }}" role="button" rel="tooltip" title="Add Relationship" class="btn btn-info btn-simple btn-xs">
                        <i class="fa fa-link"></i>
                      </a>
                      <a href="/edit/{{ p['object'] }}" role="button" rel="tooltip" title="Edit Indicator" class="btn btn-info btn-simple btn-xs">
                        <i class="fa fa-pencil"></i>
                      </a>
                      <a href="/delete/network/{{ p['object'] }}" role="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Tag Cloud</h4>
              <p class="category">Lists all the tags in your database</p>
            </div>
            <div class="content">
              {% for tag in taglist %}
              <button type="button" class="btn btn-default btn-fill btn-sm">{{ tag }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="header">
              <h4 class="title">Campaign Statistics</h4>
              <p class="category">Breakdown of Indicators per Campaign</p>
            </div>
            <div class="content">
              <div id="chart1" class="ct-chart ct-perfect-fourth"></div>
              <div class="footer">
                <hr>
                <div class="stats">
                  <i class="fa fa-clock-o"></i> Latest information available
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card ">
            <div class="header">
              <h4 class="title">Indicator Type</h4>
              <p class="category">Breakdown of Indicators by Type</p>
            </div>
            <div class="content">
              <div id="chartActivity" class="ct-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</div>

<script>

var data = {
   labels: [
          {% for i in networks %}
          "{{ i['category'] }}",
          {% endfor %}
          ],
          series: [
          {% for i in networks %}
          "{{ i['value'] }}",
          {% endfor %}
          ]
};

var options = {
  labelInterpolationFnc: function(value) {
    return value[0]
  }
};

var responsiveOptions = [
  ['screen and (min-width: 640px)', {
    chartPadding: 5,
    labelOffset: 10,
    labelDirection: 'explode',
    labelInterpolationFnc: function(value) {
      return value;
    }
  }],
  ['screen and (min-width: 400px)', {
    labelOffset: 57,
    chartPadding: 20
  }]
];

new Chartist.Pie('#chart1', data, options, responsiveOptions);
</script>

<script>
new Chartist.Bar('#chartActivity', {
  labels: [ {% for i in typelist %}
          "{{ i['category'] }}",
          {% endfor %}],
  series: [{% for i in typelist %}
          "{{ i['value'] }}",
          {% endfor %}]
}, {
  distributeSeries: true
});
</script>

{% endblock content %}
