{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  {% include "navbar.html" %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="card">
            <div class="content">
              This page contains information on {{ records['object'] }} that was manually entered, as well as 3rd party supplemental information that can aide an analyst in research. 3rd party sources can include VirusTotal, PassiveTotal, Whois, geolocational data,
              and more. You can enable these 3rd party integrations in the <a href="/settings">settings</a> menu.
              </p>
              On this page, you can also edit the entry to add new fields or change any attributes previously entered. You can also delete the entry if it's no longer needed.
              </br>
              </br>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="header">
                <h4 class="title"><i class="pe-7s-global"></i>
                  <span style="padding-left:10px"></span>{{ records['object'] }}<div style="float: right;"><a href="/relationships/{{ records['id'] }}" class="btn btn-info btn-fill" rel="tooltip" title="Add Relationship"><i class="fa fa-link" ></i></a>
                <a href="/edit/{{ records['id'] }}" class="btn btn-info btn-fill" rel="tooltip" title="Edit Object"><i class="fa fa-pencil"></i> </a>
              </div></h4>
                <p class="category">{{ address }}</p>
              </div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                    <th>Attribute</th>
                    <th>Value</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="text-capitalize">Object Type</span>
                      </td>
                      <td>{{ records['type'] }}</td>
                    </tr>
                    {% if records['campaign']|length == 0 %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Campaign</span>
                      </td>
                      <td>-</td>
                    </tr>
                    {% else %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Campaign</span>
                      </td>
                      <td>{{ records['campaign'] }}</td>
                    </tr>
                    {% endif %} {% if records['confidence'] == "Low" %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Confidence</span>
                      </td>
                      <td><i class="fa fa-circle text-warning"></i> {{ records['confidence'] }}</td>
                    </tr>
                    {% elif records['confidence'] == "Medium" %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Confidence</span>
                      </td>
                      <td><i class="fa fa-circle text-info"></i> {{ records['confidence'] }}</td>
                    </tr>
                    {% elif records['confidence'] == "High" %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Confidence</span>
                      </td>
                      <td><i class="fa fa-circle text-danger"></i> {{ records['confidence'] }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Diamond Model</span>
                      </td>
                      <td>{{ records['diamondmodel'] }}</td>
                    </tr>
                    {% if records['firstseen']|length == 0 %}
                    <tr>
                      <td>
                        <span class="text-capitalize">First Seen</span>
                      </td>
                      <td>-</td>
                    </tr>
                    {% else %}
                    <tr>
                      <td>
                        <span class="text-capitalize">First Seen</span>
                      </td>
                      <td>{{ records['firstseen'] }}</td>
                    </tr>
                    {% endif %} {% if records['lastseen']|length == 0 %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Last Seen</span>
                      </td>
                      <td>-</td>
                    </tr>
                    {% else %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Last Seen</span>
                      </td>
                      <td>{{ records['lastseen'] }}</td>
                    </tr>
                    {% endif %} {% if records['comments']|length == 0 %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Comments</span>
                      </td>
                      <td>-</td>
                    </tr>
                    {% else %}
                    <tr>
                      <td>
                        <span class="text-capitalize">Comments</span>
                      </td>
                      <td>{{ records['comments'] }}</td>
                    </tr>
                    {% endif %}
                    {% if records['tags']|length == 0 %}
                    <tr>
                    <td>
                    <span class="text-capitalize">Tags</span>
                    </td>
                    <td>-</td>
                    </tr>
                    {% else %}
                    <tr>
                    <td>
                    <span class="text-capitalize">Tags</span>
                    </td>
                    <td>
                    {% for tag in records['tags'].split(",") %}
                    <button type="button" class="btn btn-default btn-fill btn-xs">{{ tag }}</button>
                    {% endfor %}
                    </td>
                    </tr>
                    {% endif %} {% for key in records %} {% if key == "id" or key == "type" or key == "campaign" or key == "confidence" or key == "Firstseen" or key == "Lastseen" or key == "comments" or key == "diamondmodel" or key == "object" or key == "firstseen" or key == "tags" or key == "relationships" or key
                    == "lastseen" or records[key] == "None" or records[key] == "" %}
                    <div></div>
                    {% else %}
                    <tr>
                      <td>
                        <span class="text-capitalize">{{ key }}</span>
                      </td>
                      <td>{{ records[key] }}</td>
                    </tr>

                    {% endif %} {% endfor %}
                  </tbody>
                </table>

                  </div>
                </div>

          {% if settingsvars['vtfile'] == "on" %}
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="header">
                    <h4 class="title">VirusTotal Information</h4>
                    <p class="category">More information can be found at <a href="https://www.virustotal.com" target="_blank">VirusTotal</a></p>
                  </div>
                  <div class="content">
                  <table class="table table-hover table-striped">
                  <thead>
                  <th>Attribute</th>
                  <th>Value</th>
                  </thead>
                  <tbody>
                  <tr>
                   <td>Scan Date</td>
                      <td>{{ jsonvt['scan_date'] }}</td>
                  </tr>
                  <tr>
                      <td>Positives/Total</td>
                      <td>{{ jsonvt['positives'] }}/{{ jsonvt['total'] }}</td>
                      </tr>
                      </tbody>
                      </table>

                   <table class="table table-hover table-striped">
                  <thead>
                    <th>Scanner</th>
                    <th>Result</th>
                    <th>Update</th>
                  </thead>
                  <tbody>
                  {% for result in jsonvt['scans'] %}
                  {% if jsonvt['scans'][result]['result'] == None %}
                  <div></div>
                  {% else %}
                  <tr>
                  <td>{{ result }}</td>
                  <td>{{ jsonvt['scans'][result]['result'] }}</td>
                  <td>{{ jsonvt['scans'][result]['update'] }}</td>
                  </tr>
                  {% endif %}


                  {% endfor %}
                        </tbody>
                        </table>
                  </div>
                </div>
                </div>
                </div>
                {% endif %}

          {% if reldata > 0 %}
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="header">
                    <h4 class="title">Relationships</h4>
                    <p class="category">This table shows the indicators related to {{ records['object'] }}</p>
                  </div>
                  <div class="content">
                    <table class="table table-hover table-striped">
                  <thead>
                    <th>Attribute</th>
                    <th>Value</th>
                  </thead>
                  <tbody>
                  {% for rel in temprel %}
                   <tr>
                   <td>{{ rel }}</td>
                   <td>{{ temprel[rel] }}</td>
                   </tr>
                   {% endfor %}
                        </tbody>
                        </table>
                  </div>
                </div>
                </div>
                </div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    {% include "footer.html" %}
  </div>
</div>
{% endblock content %}
