{% include "banners/header.html" %}
{% block content %}
<div class="container-fluid">
      <div class="row">
       <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar list-group">
            <li class="list-group-item active">  
            <a href="/"><span class="glyphicon glyphicon-home"></span></span><span style="padding-left:5px"></span>Overview</a>
            </li>
            
            <li class="list-group-item">
            <span class='badge'>{{ totalcount }}</span>
            <a href="/indicators"><span class="glyphicon glyphicon-map-marker"></span></span><span style="padding-left:5px"></span>Indicators</a>
            </li>
            <li class="list-group-item">
            <span class='badge'>{{ networkcount }}</span>
            <a href="/networks"><span style="padding-left:2em"><span class="glyphicon glyphicon-cloud"></span></span><span style="padding-left:5px"></span>Network</span></a>
            </li>
            <li class="list-group-item">
            <span class='badge'>{{ threatactorcount }}</span>
            <a href="/threatactors"><span style="padding-left:2em"><span class="glyphicon glyphicon-user"></span></span><span style="padding-left:5px"></span>Threat Actors</span></a>
            </li>
           
            <li class="list-group-item">
            <span class='badge'>{{ campaigncount }}</span>
            <a href="/campaigns"><span style="padding-left:2em"><span class="glyphicon glyphicon-fire"></span></span><span style="padding-left:5px"></span>Campaigns</span></a>
            </li>

            <li class="list-group-item">
            <a href="/settings"><span class="glyphicon glyphicon-cog"></span><span style="padding-left:5px"></span>Settings</a>
            </li>
            <li class="list-group-item">
            <a href="/about"><span class="glyphicon glyphicon-list-alt"></span><span style="padding-left:5px"></span>About</a>
            </li>
            
      </div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <ul class="breadcrumb">
    <li><a href="#">threat_note</a></li>
    <li class="active">Overview</li>
  </ul>
         Welcome to your threat_note overview page. Here you can find the latest indicators added to your databases, as well as other useful information to give you a birds eye view of your entries. 
         </br>
         <h2>Latest Indicators</h2>
</br>

<table data-toggle="table">
            <thead>
                <tr>
                  <th class="text-center">Object</th>
                  <th class="text-center">Object Type</th>
                  <th class="text-center">First Seen</th>
                  <th class="text-center">Last Seen</th>
                  <th class="text-center">Campaign</th>
                  <th class="text-center">Diamond Model</th>
                  <th class="text-center">Comments</th>
               </tr>
            </thead>
            <tbody>
            {% for p in network %}
            <tr> 
                <td class="text-center"><a href="/network/{{ p['_id'] }}/info">{{ p['object'] }}</td>
                    <td class="text-center">{{ p['inputtype'] }}</td>
                    {% if p['firstseen']|length == 0 %}
                    <td class="text-center">-</td>
                    {% else %}
                    <td class="text-center">{{ p['firstseen'] }}</td>
                    {% endif %}
                    {% if p['lastseen']|length == 0 %}
                    <td class="text-center">-</td>
                    {% else %}
                    <td class="text-center">{{ p['lastseen'] }}</td>
                    {% endif %}
                    {% if p['campaign']|length == 0 %}
                    <td class="text-center">-</td>
                    {% else %}
                    <td class="text-center">{{ p['campaign'] }}</td>
                    {% endif %}
                    <td class="text-center">{{ p['diamondmodel'] }}</td>
                    {% if p['comments']|length == 0 %}
                    <td class="text-center">-</td>
                    {% else %}
                    <td class="text-left">{{ p['comments'] }}</td>
                    {% endif %}
            </tr>
            {% endfor %}
            </tbody>
</table>

{% endblock %}
{% include "banners/footer.html" %}