{% include "banners/header.html" %}
{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <ul class="breadcrumb">
    <li><a href="/">threat_note</a></li>
    <li><a href="/indicators">Indicators</a></li>
    <li class="active">Network Indicators</li>
  </ul>
  This page contains all the network indicators in the threat_note database, which includes IP Addresses and Domains. Along with your indicators, you'll also find key attributes and their values that have been entered. 
  </p>
  Use the "New Entry" button below to create a new indicator in the threat_note database. You can also use the filtering buttons on the top-right to perform various filtering tasks. You can use the search box to search for specific indicators or narrow down to a particular campaign or diamond model. You can also use the column dropdown button <span class="glyphicon glyphicon-th"></span> to only show certain attributes in the table.
  </br>
  </br>
       
<div id="custom-toolbar">
    <div class="form-inline" role="form">
    <button type="submit" class="btn btn-default"><a href="/newobject" class="text-button-color">New Entry</a></button>
    </div>
</div>

<table data-toggle="table" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true" data-url="x" data-sort-name="name" data-sort-order="desc" data-toolbar="#custom-toolbar">
            <thead>
                <tr>
                  <th class="text-center" data-sortable="true">Object</th>
                  <th class="text-center" data-sortable="true">Object Type</th>
                  <th class="text-center" data-sortable="true">First Seen</th>
                  <th class="text-center" data-sortable="true">Last Seen</th>
                  <th class="text-center" data-sortable="true">Campaign</th>
                  <th class="text-center" data-sortable="true">Diamond Model</th>
                  <th class="text-center" data-sortable="true">Comments</th>
               </tr>
            </thead>
            <tbody>
            {% for p in network %}
            <tr> 
                <td class="text-center"><a href="/network/{{ p['_id'] }}/info">{{ p['object'] }}</td>
                    <td class="text-center">{{ p['inputtype'] }}</td>
                    {% if p['firstseen']|length == 0 %}
                    <td class="text-center">-</td>
                    {% else %}
                    <td class="text-center">{{ p['firstseen'] }}</td>
                    {% endif %}
                    {% if p['lastseen']|length == 0 %}
                    <td class="text-center">-</td>
                    {% else %}
                    <td class="text-center">{{ p['lastseen'] }}</td>
                    {% endif %}
                    {% if p['campaign']|length == 0 %}
                    <td class="text-center">-</td>
                    {% else %}
                    <td class="text-center">{{ p['campaign'] }}</td>
                    {% endif %}
                    <td class="text-center">{{ p['diamondmodel'] }}</td>
                    {% if p['comments']|length == 0 %}
                    <td class="text-center">-</td>
                    {% else %}
                    <td class="text-center">{{ p['comments'] }}</td>
                    {% endif %}
            </tr>
            {% endfor %}
            </tbody>
</table>
</div>

{% endblock %}
{% include "banners/footer.html" %}