{% include "banners/newheader.html" %}
{% block content %}
<body> 

<div class="wrapper">
    <div class="sidebar" data-color="azure">    

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    threat_note
                </a>
            </div>
                    {% if entry['inputtype'] == "Threat Actor" %}
                                        <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-graph2"></i> 
                        <p>Dashboard</p>
                    </a>            
                </li>
                <li>
                    <a href="/networks">
                        <i class="pe-7s-global"></i> 
                        <p>Network Indicators</p>
                    </a>
                </li> 
                <li class="active">
                    <a href="/threatactors">
                        <i class="pe-7s-users"></i> 
                        <p>Threat Actors</p>
                    </a>        
                </li>
                <li>
                    <a href="/victims">
                        <i class="pe-7s-target"></i>
                        <p>Victims</p>
                    </a>
                </li>
                    <li>
                    <a href="/campaigns">
                        <i class="pe-7s-shield"></i> 
                        <p>Campaigns</p>
                    </a>        
                </li>
                <li>
                    <a href="/settings">
                        <i class="pe-7s-config"></i> 
                        <p>Settings</p>
                    </a>        
                </li>
                <li>
                    <a href="/about">
                        <i class="pe-7s-info"></i> 
                        <p>About</p>
                    </a>        
                </li>
            </ul>
                {% elif entry['inputtype'] == "Victim" %}
            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-graph2"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/networks">
                        <i class="pe-7s-global"></i>
                        <p>Network Indicators</p>
                    </a>
                </li>
                <li>
                    <a href="/threatactors">
                        <i class="pe-7s-users"></i>
                        <p>Threat Actors</p>
                    </a>
                <li class="active">
                    <a href="/victims">
                        <i class="pe-7s-target"></i>
                        <p>Victims</p>
                    </a>
                </li>
                </li>
                    <li>
                    <a href="/campaigns">
                        <i class="pe-7s-shield"></i>
                        <p>Campaigns</p>
                    </a>
                </li>
                <li>
                    <a href="/settings">
                        <i class="pe-7s-config"></i>
                        <p>Settings</p>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <i class="pe-7s-info"></i>
                        <p>About</p>
                    </a>
                </li>
            </ul>
                                    {% else %}
                                     <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-graph2"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/networks">
                        <i class="pe-7s-global"></i>
                        <p>Network Indicators</p>
                    </a>
                </li>
                <li>
                    <a href="/threatactors">
                        <i class="pe-7s-users"></i>
                        <p>Threat Actors</p>
                    </a>
                <li>
                    <a href="/victims">
                        <i class="pe-7s-target"></i>
                        <p>Victims</p>
                    </a>
                </li>
                </li>
                    <li>
                    <a href="/campaigns">
                        <i class="pe-7s-shield"></i>
                        <p>Campaigns</p>
                    </a>
                </li>
                <li>
                    <a href="/settings">
                        <i class="pe-7s-config"></i>
                        <p>Settings</p>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <i class="pe-7s-info"></i>
                        <p>About</p>
                    </a>
                </li>
            </ul>
                                     {% endif %}    
           
        </div>
    </div>
    
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">    
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Edit Indicator</a>
                </div>
            </div>
        </nav>
                     
    {% if errormessage %}

<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  {{ errormessage }}
</div>

{% endif %}

       <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Indicator</h4>
                            </div>
                            <div class="content">
                                <form action="/update/object/" enctype="application/x-www-form-urlencoded" method="POST">
                                    <div class="row">
                                        <div class="col-md-12">
                                        
                                        <fieldset>

                                        {% for i in entry %}
                                            {% if i == "inputtype" %}
                                                <div class="form-group">
                                                <label>Object Type</label>
                                                <select class="form-control" name="inputtype">
                                                  {% if entry['inputtype'] == "IPv4" %}
                                                    <option value="IPv4" selected="true">IPv4</option>
                                                    <option value="IPv6">IPv6</option>
                                                    <option value="Domain">Domain</option>
                                                     <option value="Threat Actor">Threat Actor</option>
                                                    <option value="Entity">Enitiy</option>
                                                     <option value="Network">Network</option>
                                                  {% elif entry['inputtype'] == "IPv6" %}
                                                    <option value="IPv4">IPv4</option>
                                                    <option value="IPv6" selected="true">IPv6</option>
                                                    <option value="Domain">Domain</option>
                                                     <option value="Threat Actor">Threat Actor</option>
                                                    <option value="Entity">Enitiy</option>
                                                     <option value="Network">Network</option>
                                                  {% elif entry['inputtype'] == "Domain" %}
                                                    <option value="IPv4">IPv4</option>
                                                    <option value="IPv6">IPv6</option>
                                                     <option value="Domain" selected="true">Domain</option>
                                                     <option value="Threat Actor">Threat Actor</option>
                                                    <option value="Entity">Enitiy</option>
                                                     <option value="Network">Network</option>
                                                  {% elif entry['inputtype'] == "Threat Actor" %}
                                                      <option value="IPv4">IPv4</option>
                                                    <option value="IPv6">IPv6</option>
                                                     <option value="Domain">Domain</option>
                                                     <option value="Threat Actor" selected="true">Threat Actor</option>
                                                    <option value="Entity">Enitiy</option>
                                                     <option value="Network">Network</option>
                                                  {% elif entry['inputtype'] == "Network" %}
                                                       <option value="IPv4">IPv4</option>
                                                    <option value="IPv6">IPv6</option>
                                                     <option value="Domain">Domain</option>
                                                     <option value="Threat Actor">Threat Actor</option>
                                                    <option value="Entity">Enitiy</option>
                                                     <option value="Network"  selected="true">Network</option>
                                                   {% elif entry['inputtype'] == "Victim" %}
                                                       <option value="IPv4">IPv4</option>
                                                    <option value="IPv6">IPv6</option>
                                                     <option value="Domain">Domain</option>
                                                     <option value="Threat Actor">Threat Actor</option>
                                                    <option value="Victim" selected="true">Victim</option>
                                                     <option value="Network">Network</option>
                                                   {% else %}
                                                      <option value="IPv4"  selected="true">IPv4</option>
                                                    <option value="IPv6">IPv6</option>
                                                     <option value="Domain">Domain</option>
                                                     <option value="Threat Actor">Threat Actor</option>
                                                    <option value="Entity">Enitiy</option>
                                                     <option value="Network" >Network</option>
                                                    {% endif %}
                                                </select>
                                            </div>    
                                            {% elif i == "diamondmodel" %}
                                            <div class="form-group">
                                                <label>Diamond Model</label>
                                                 <select class="form-control" name="diamondmodel">
                                                   {% if entry['diamondmodel'] == "Adversary" %}
                                                    <option value="Adversary" selected="true">Adversary</option>
                                                    <option value="Infrastructure">Infrastructure</option>
                                                    <option value="Entity">Enitiy</option>
                                                  {% elif entry['diamondmodel'] == "Infrastructure" %}
                                                    <option value="Adversary">Adversary</option>
                                                    <option value="Infrastructure" selected="true">Infrastructure</option>
                                                    <option value="Entity">Enitiy</option>
                                                  {% elif entry['diamondmodel'] == "Victim" %}
                                                    <option value="Adversary">Adversary</option>
                                                    <option value="Infrastructure">Infrastructure</option>
                                                    <option value="Victim" selected="true">Victim</option>
                                                  {% endif %}
                                                </select>
                                            </div> 
                                            {% elif i == "confidence" %}
                                            <div class="form-group">
                                                <label>Confidence</label>
                                                 <select class="form-control" name="confidence">
                                                  {% if entry['confidence'] == "Low" %}
                                                    <option value="Low" selected="true">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                  {% elif entry['confidence'] == "Medium" %}
                                                    <option value="Low">Low</option>
                                                    <option value="Medium" selected="true">Medium</option>
                                                    <option value="High">High</option>
                                                  {% elif entry['confidence'] == "High" %}
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High" selected="true">High</option>
                                                  {% else %}
                                                     <option value="Low" selected="true">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                  {% endif %}
                                                </select>
                                            </div>        

                                            {% elif i == "favorite" %}
                                            <div></div>

                                            {% elif i == "_id" %}
                                             <div></div>

                                             {% elif i == "object" %}
                                             <div class="form-group">
                                                <label>{{ i }}</label>
                                                <input type="text" class="form-control" name="{{ i }}" value="{{ entry[i] }}" disabled placeholder="09-01-2015">
                                            </div>

                                            {% elif i == "firstseen" %}
                                              <div class="form-group">
                                                <label>{{ i }}</label>
                                                <input type="text" class="form-control" name="{{ i }}" value="{{ entry[i] }}" placeholder="09-01-2015">
                                            </div>

                                            {% elif i == "lastseen" %}
                                             <div class="form-group">
                                                <label>{{ i }}</label>
                                                <input type="text" class="form-control" name="{{ i }}" value="{{ entry[i] }}" placeholder="09-15-2015">
                                            </div>    

                                             {% elif i == "campaign" %}
                                             <div class="form-group">
                                                <label>{{ i }}</label>
                                                <input type="text" class="form-control" name="{{ i }}" value="{{ entry[i] }}" placeholder="LASER PANDA">
                                            </div>   
                                            {% elif i == "comments" %}
                                            <div class="form-group">
                                                <label>{{ i }}</label>
                                                 <textarea class="form-control" rows="3" name="comments" value="{{ entry[i] }}">{{ entry[i] }}</textarea>
                                            </div>   
                                           

                                            {% else %}
                                            <div class="form-group">
                                                <label>{{ i }}</label>
                                                <input type="text" class="form-control" name="{{ i }}" value="{{ entry[i] }}">
                                            </div>      

                                            {% endif %}
                                             {% endfor %}


                                        </div>
                                    </div>


                                    <input type="hidden" class="form-control" name="_id" value="{{ entry['_id'] }}">

                                    <div style="float: right;">
                                    {% if entry['inputtype'] == "Threat Actor" %}
                                        <a href="/threatactors" class="btn btn-info btn-fill">Cancel</a>
                                    {% else %}
                                     <a href="/networks" class="btn btn-info btn-fill">Cancel</a>
                                     {% endif %}

                                    <button type="submit" class="btn btn-info btn-fill">Submit</button>
    <button type="button" class="btn btn-success btn-fill" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> New Attribute</button>

                                    </div>
                                    <div class="clearfix"></div>
                                </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                 


             

        <footer class="footer">
            <div class="container-fluid">
                
                <p class="copyright pull-right">
                    &copy; 2015 <a href="https://defpoint.com/">Defense Point Security</a>
                </p>
            </div>
        </footer>
    </div>   
</div>
</body>





<!-- Creating popup for new field-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Field</h4>
      </div>
      
      <div class="modal-body">
        <form class="form-horizontal" action="/insert/newfield/" enctype="application/x-www-form-urlencoded" method="POST">
        <fieldset>
      
      <div class="form-group">
        <label for="inputnewfieldname" class="col-lg-2 control-label">Name</label>
      
      <div class="col-lg-10">
        <input type="text" class="form-control" name="inputnewfieldname" value="" placeholder="Registrar">
      </div>
    
      </div>
    
    <div class="form-group">
      <label for="inputnewfieldvalue" class="col-lg-2 control-label">Value</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="inputnewfieldvalue" value="" placeholder="GoDaddy">
      </div>
    </div>
              
{% for item in entry %}
      <input type="hidden" class="form-control" name="{{ item }}" value="{{ entry[item] }}">
{% endfor %}

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-info btn-fill">Submit</button>
    </div>
    </div>
   
    </fieldset>
    </form>
    </div>
</div>

    <!--   Core JS Files   -->
    <script src="../../static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../../static/js/bootstrap.min.js" type="text/javascript"></script>
    
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="../../static/js/bootstrap-checkbox-radio-switch.js"></script>
    
    <!--  Charts Plugin -->
    <script src="../../static/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="../../static/js/bootstrap-notify.js"></script>
    
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="../../static/js/light-bootstrap-dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table-all.js"></script>
    
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="../../static/js/demo.js"></script>

    
</html>
{% endblock %}