{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  {% include "navbar.html" %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="card">
                <div class="header">
                  <div>
                    <h4 class="title">New Indicator</h4>
                  </div>
                </div>
                <div class="content">
                  <form action="/insert/object/" enctype="application/x-www-form-urlencoded" method="POST">
                    <div class="row">
                      <div class="col-md-12">

                        <fieldset>
                          <div class="form-group">
                            <label>Object</label>
                            <input type="text" class="form-control" name="inputobject" placeholder="8.8.8.8 or www.google.com or Zero Cool" value="{{ inputobject }}">
                          </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Object Type</label>
                          <select class="form-control" name="inputtype">
                            {% if inputtype == "IPv4" %}
                            <option value="IPv4" selected="true">IPv4</option>
                            <option value="IPv6">IPv6</option>
                            <option value="Domain">Domain</option>
                            <option value="Threat Actor">Threat Actor</option>
                            <option value="Entity">Entity</option>
                            <option value="Network">Network</option>
                            <option value="Hash">Hash</option>
                            {% elif inputtype == "IPv6" %}
                            <option value="IPv4">IPv4</option>
                            <option value="IPv6" selected="true">IPv6</option>
                            <option value="Domain">Domain</option>
                            <option value="Threat Actor">Threat Actor</option>
                            <option value="Entity">Entity</option>
                            <option value="Network">Network</option>
                            <option value="Hash">Hash</option>
                            {% elif inputtype == "Entity" %}
                            <option value="IPv4">IPv4</option>
                            <option value="IPv6">IPv6</option>
                            <option value="Domain">Domain</option>
                            <option value="Threat Actor">Threat Actor</option>
                            <option value="Entity" selected="true">Entity</option>
                            <option value="Network">Network</option>
                            <option value="Hash">Hash</option>
                            {% elif inputtype == "Domain" %}
                            <option value="IPv4">IPv4</option>
                            <option value="IPv6">IPv6</option>
                            <option value="Domain" selected="true">Domain</option>
                            <option value="Threat Actor">Threat Actor</option>
                            <option value="Entity">Entity</option>
                            <option value="Network">Network</option>
                            <option value="Hash">Hash</option>
                            {% elif inputtype == "Threat Actor" %}
                            <option value="IPv4">IPv4</option>
                            <option value="IPv6">IPv6</option>
                            <option value="Domain">Domain</option>
                            <option value="Threat Actor" selected="true">Threat Actor</option>
                            <option value="Entity">Entity</option>
                            <option value="Network">Network</option>
                            <option value="Hash">Hash</option>
                            {% elif inputtype == "Network" %}
                            <option value="IPv4">IPv4</option>
                            <option value="IPv6">IPv6</option>
                            <option value="Domain">Domain</option>
                            <option value="Threat Actor">Threat Actor
                              <option value="Entity">Entity</option>
                              <option value="Network" selected="true">Network</option>
                              <option value="Hash">Hash</option>
                              {% elif inputtype == "Hash" %}
                            <option value="IPv4">IPv4</option>
                            <option value="IPv6">IPv6</option>
                            <option value="Domain">Domain</option>
                            <option value="Threat Actor">Threat Actor
                              <option value="Entity">Entity</option>
                              <option value="Network">Network</option>
                              <option value="Hash" selected="true">Hash</option>
                              {% else %}
                              <option value="IPv4" selected="true">IPv4</option>
                              <option value="IPv6">IPv6</option>
                              <option value="Domain">Domain</option>
                              <option value="Threat Actor">Threat Actor</option>
                              <option value="Entity">Entity</option>
                              <option value="Network">Network</option>
                              <option value="Hash">Hash</option>
                              {% endif %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>First Seen</label>
                          <input type="text" class="form-control" name="inputfirstseen" placeholder="YYYY-MM-DD" value="{{ inputfirstseen }}">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Last Seen</label>
                          <input type="text" class="form-control" name="inputlastseen" placeholder={{ currentdate }} value="{{ inputlastseen }}">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Diamond Model</label>
                          <select class="form-control" name="diamondmodel">
                            {% if diamondmodel == "Adversary" %}
                            <option value="Adversary" selected="true">Adversary</option>
                            <option value="Infrastructure">Infrastructure</option>
                            <option value="Victim">Victim</option>
                            <option value="Capability">Capability</option>
                            {% elif diamondmodel == "Infrastructure" %}
                            <option value="Adversary">Adversary</option>
                            <option value="Infrastructure" selected="true">Infrastructure</option>
                            <option value="Victim">Victim</option>
                            <option value="Capability">Capability</option>
                            {% elif diamondmodel == "Victim" %}
                            <option value="Adversary">Adversary</option>
                            <option value="Infrastructure">Infrastructure</option>
                            <option value="Victim" selected="true">Victim</option>
                            <option value="Capability">Capability</option>
                            {% elif diamondmodel == "Capability" %}
                            <option value="Adversary">Adversary</option>
                            <option value="Infrastructure">Infrastructure</option>
                            <option value="Victim">Victim</option>
                            <option value="Capability" selected="true">Capability</option>
                            {% else %}
                            <option value="Adversary" selected="true">Adversary</option>
                            <option value="Infrastructure">Infrastructure</option>
                            <option value="Victim">Victim</option>
                            <option value="Capability">Capability</option>
                            {% endif %}
                          </select>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Campaign</label>
                          <input type="text" class="form-control" name="inputcampaign" value="{{ inputcampaign }}" placeholder="LASER PANDA">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Confidence</label>
                          <select class="form-control" name="confidence">
                            {% if confidence == "Low" %}
                            <option value="Low" selected="true">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                            {% elif confidence == "Medium" %}
                            <option value="Low">Low</option>
                            <option value="Medium" selected="true">Medium</option>
                            <option value="High">High</option>
                            {% elif confidence == "High" %}
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High" selected="true">High</option>
                            {% else %}
                            <option value="Low" selected="true">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                            {% endif %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Comments</label>
                          <textarea class="form-control" rows="3" name="comments" value="{{ comments }}">{{ comments }}</textarea>
                        </div>
                      </div>
                    </div>

                   <div class="form-group">
                            <label>Tags</label>
                            <input type="text" class="form-control" id="tokenfield" name="tags" value="" />
                          </div>


                    <div style="float: right;">
                      <a href="/" class="btn btn-info btn-fill">Cancel</a>
                      <button type="submit" class="btn btn-info btn-fill">Submit</button>
                    </div>
                    <div class="clearfix"></div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    {% include "footer.html" %}
<script>
$('#tokenfield').tokenfield({
  autocomplete: {
    source: ['red','blue','green','yellow','violet','brown','purple','black','white'],
    delay: 100
  },
  showAutocompleteOnFocus: true
})
</script>
{% if errormessage %}
<script type="text/javascript">
  new $(document).ready(function() {

    demo.initChartist();

    $.notify({
      icon: 'pe-7s-info',
      message: "<b>Error</b> - {{ errormessage }}"

    }, {
      type: 'info',
      timer: 4000
    });

  });
</script>
{% endif %}
</div>
{% endblock content %}
