{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  {% include "navbar.html" %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="header">
                  <h4 class="title">Edit Profile</h4>
                </div>
                <div class="content">
                  Here you can edit your profile settings including password and user preferences.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="card ">
                <form class="form-horizontal" action="/profile" enctype="application/x-www-form-urlencoded" method="POST">
                  <div class="header">
                    <h4 class="title">Change Password</h4>

                  </div>
                  <div class="content">
                    <div class="row">
                      <div class="col-md-12">
                        <fieldset>
                          <label>Current Password</label>
                          <input type="password" class="form-control" name="currentpw" value="" placeholder="*******">
                          </br>
                          <label>New Password</label>
                          <input type="password" class="form-control" name="newpw" value="" placeholder="*******">
                          </br>
                          <label>Re-enter Password</label>
                          <input type="password" class="form-control" name="newpwvalidation" value="" placeholder="*******">
                          </br>
                        </fieldset>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col-md-9">
              <div class="card ">
                <div class="header">
                  <h4 class="title">Preferences</h4>

                </div>


                <fieldset>


                  <div class="content">

                    <label>Test Input</label>
                    <input type="text" class="form-control" name="apikey" value="" placeholder="">
                    </br>
                    <label>Test Input</label>
                    <input type="text" class="form-control" name="odnskey" value="" placeholder="">
                    </br>
                    <button type="submit" class="btn btn-info btn-fill">Submit</button>


                  </div>
                </fieldset>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>


    
    {% include "footer.html" %}

{% if errormessage %}
<script type="text/javascript">
  new $(document).ready(function() {

    demo.initChartist();

    $.notify({
      icon: 'pe-7s-info',
      message: "<b>Info - {{ errormessage }}"

    }, {
      type: 'info',
      timer: 4000
    });

  });
</script>
{% endif %}
</div>
{% endblock %}
