{% include "banners/newheader.html" %}
{% block content %}
<body> 

<div class="wrapper">
    <div class="sidebar" data-color="azure">    

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    threat_note
                </a>
            </div>
                       
            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-graph2"></i> 
                        <p>Dashboard</p>
                    </a>            
                </li>
                <li>
                    <a href="/networks">
                        <i class="pe-7s-global"></i> 
                        <p>Network Indicators</p>
                    </a>
                </li> 
                <li>
                    <a href="/threatactors">
                        <i class="pe-7s-users"></i> 
                        <p>Threat Actors</p>
                    </a>        
                </li>
                    <li>
                    <a href="/campaigns">
                        <i class="pe-7s-shield"></i> 
                        <p>Campaigns</p>
                    </a>        
                </li>
                <li class="active">
                    <a href="/settings">
                        <i class="pe-7s-config"></i> 
                        <p>Settings</p>
                    </a>        
                </li>
                <li>
                    <a href="/about">
                        <i class="pe-7s-info"></i> 
                        <p>About</p>
                    </a>        
                </li>
            </ul> 
        </div>
    </div>
    
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">    
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Settings</a>
                </div>
            </div>
        </nav>
                     
                     
      <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Settings</h4>
                            </div>
                                <div class="content">
                                    On this page you can configure any 3rd party integrations, such as turning on/off VirusTotal PassiveDNS information or Whois information. You can also delete your threat_note database if you choose to.</p>
                                </div>
                        </div>
                        </div>
                        </div>

              <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Database Settings</h4>
                                <p class="category">Mongo Configuration Settings</p>
                            </div>
                            <div class="content">                               
                              <div class="row">
                              <div class="col-md-4">     
                               <a href="/delete" onclick="return confirm('Are you sure you want to delete the database?');" class="btn btn-danger btn-fill"><i class="fa fa-trash-o"></i> Delete Database</a>
                              </div>
                           <div class="col-md-8">
                    If you wish to delete the Mongo database that stores all the entries you've created, press the button to the left. <strong>This will destroy the database and you will not have any entries, proceed with caution!</strong></p>
                            </div>
                            </div>


                              </div>
                            </div>
                        <div class="card ">
                        <form class="form-horizontal" action="/update/settings/" enctype="application/x-www-form-urlencoded" method="POST">
                            <div class="header">
                                <h4 class="title">Proxy Settings</h4>
                                <p class="category">Network Proxy Configuration Settings</p>
                            </div>
                            <div class="content">
                              <div class="row">
                              <div class="col-md-8">
                                <fieldset>
                                <label>HTTP</label>
                                <input type="text" class="form-control" name="httpproxy" value="{{ records['httpproxy'] }}" placeholder="http://127.0.0.1:8080"></br>
                                <label>HTTPS</label>
                                <input type="text" class="form-control" name="httpsproxy" value="{{ records['httpsproxy'] }}" placeholder="https://127.0.0.1:8080"></br>
                                </fieldset>
                              </div>
                            </div>
                           </div>
                            </div>
                        </div>
                    
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">3rd Party Integrations</h4>
                                <p class="category">Configure 3rd Party Data Providers Options</p>
                            </div>

                            <div class="content table-responsive table-full-width">
                                <fieldset>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                            {% if records['whoisinfo'] == "on" %}
                                            
                                             <label class="checkbox">
                                              <input type="checkbox" class="form-control" name="whoisinfo" checked data-toggle="checkbox">
                                         
                                            {% else %}
                                         
                                              <label class="checkbox">
                                                <input type="checkbox" class="form-control" name="whoisinfo" data-toggle="checkbox">
                                            {% endif %}
                                                </td>
                                                <td>Whois Information</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                 {% if records['vtinfo'] == "on" %}
                                             <label class="checkbox">
                                              <input type="checkbox" class="form-control" name="vtinfo" checked data-toggle="checkbox">
                                            {% else %}
                                              <label class="checkbox">
                                                 <input type="checkbox" class="form-control" name="vtinfo" data-toggle="checkbox">
                                            {% endif %}
                                                </td>
                                                <td>VirusTotal Passive DNS Information</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                 {% if records['odns'] == "on" %}
                                             <label class="checkbox">
                                              <input type="checkbox" class="form-control" name="odns" checked data-toggle="checkbox">
                                            {% else %}
                                              <label class="checkbox">
                                                 <input type="checkbox" class="form-control" name="odns" data-toggle="checkbox">
                                            {% endif %}
                                                </td>
                                                <td>OpenDNS Investigate</td>
                                            </tr>
                                        </tbody>
                                    </table>
                           
                                </div>
                                <div class="content">
                                                <h4 class="title">Configure API Keys</h4>
                                                <label>VirusTotal API Key</label>
                                                <input type="text" class="form-control" name="apikey" value="{{ records['apikey'] }}" placeholder="149d08c494b4db323420180b09312b2f34e529230496cddfa868c01eea"></br>
                                                <label>Investigate API Key</label>
                                                <input type="text" class="form-control" name="odnskey" value="{{ records['odnskey'] }}" placeholder="89ba67a0-b1f2-75ef-9fb9-04eae0434963"></br>
                                             <button type="submit" class="btn btn-info btn-fill" >Submit</button>
                                            

                                </div>
                               </fieldset>
                               </form>

                                                         
                                </div>
                                 </div>
                                </div>
                                 </div>
                                </div>

        <footer class="footer">
            <div class="container-fluid">
                
                <p class="copyright pull-right">
                    &copy; 2015 <a href="https://defpoint.com/">Defense Point Security</a>
                </p>
            </div>
        </footer>
    </div>   
</div>
</body>

    <!--   Core JS Files   -->
    <script src="../../static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../../static/js/bootstrap.min.js" type="text/javascript"></script>
    
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="../../static/js/bootstrap-checkbox-radio-switch.js"></script>
    
    <!--  Charts Plugin -->
    <script src="../../static/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="../../static/js/bootstrap-notify.js"></script>
    
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="../../static/js/light-bootstrap-dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table-all.js"></script>
    
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="../../static/js/demo.js"></script>

    
</html>
{% endblock %}