<div class="sidebar" data-color="azure">

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="/" class="simple-text">
                threat_note
            </a>
    </div>

    <ul class="nav">
      <li>
        <a href="/">
          <i class="pe-7s-graph2"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="/networks">
          <i class="pe-7s-global"></i>
          <p>Network Indicators</p>
        </a>
      </li>
      <li>
        <a href="/threatactors">
          <i class="pe-7s-users"></i>
          <p>Threat Actors</p>
        </a>
      </li>
      <li>
        <a href="/victims">
          <i class="pe-7s-target"></i>
          <p>Victims</p>
        </a>
      </li>
      <li>
        <a href="/files">
          <i class="pe-7s-file"></i>
          <p>Files</p>
        </a>
      </li>
      <li>
        <a href="/campaigns">
          <i class="pe-7s-shield"></i>
          <p>Campaigns</p>
        </a>
      </li>
        <li>
        <a href="/tags">
          <i class="pe-7s-ticket"></i>
          <p>Tags</p>
        </a>
      </li>

    </ul>
  </div>
</div>
