<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="../../static/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>threat_note | Security Researchers Notebook</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <!-- Bootstrap core CSS     -->
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="../../static/css/animate.min.css" rel="stylesheet" />

  <!--  Light Bootstrap Table core CSS    -->
  <link href="../../static/css/light-bootstrap-dashboard.css" rel="stylesheet" />

  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="../../static/css/demo.css" rel="stylesheet" />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link href="../../static/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>

<body>

  <div class="wrapper">
    <div class="sidebar" data-color="azure">

      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="/" class="simple-text">
                    threat_note
                </a>
        </div>

        <ul class="nav">
          <li>
            <a href="/">
              <i class="pe-7s-graph2"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/networks">
              <i class="pe-7s-global"></i>
              <p>Network Indicators</p>
            </a>
          </li>
          <li>
            <a href="/threatactors">
              <i class="pe-7s-users"></i>
              <p>Threat Actors</p>
            </a>
          </li>
          <li class="active">
            <a href="/victims">
              <i class="pe-7s-target"></i>
              <p>Victims</p>
            </a>
          </li>
          <li>
            <a href="/files">
              <i class="pe-7s-file"></i>
              <p>Files</p>
            </a>
          </li>
          <li>
            <a href="/campaigns">
              <i class="pe-7s-shield"></i>
              <p>Campaigns</p>
            </a>
          </li>
              <li>
            <a href="/tags">
              <i class="pe-7s-ticket"></i>
              <p>Tags</p>
            </a>
          </li>

        </ul>
      </div>
    </div>

    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ records['object'] }}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="/profile" class="dropdown-toggle capitalize" data-toggle="dropdown">
                                    {{ current_user.user }}
                                    <b class="caret"></b>
                              </a>
                <ul class="dropdown-menu">
                  <li><a href="/profile">Edit Profile</a></li>
                  <li><a href="/settings">Edit Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="card">
                <div class="content">
                  This page contains information on {{ records['object'] }} that was manually entered, as well as 3rd party supplemental information that can aide an analyst in research. 3rd party sources can include VirusTotal, PassiveTotal, Whois, geolocational data,
                  and more. You can enable these 3rd party integrations in the <a href="/settings">settings</a> menu.
                  </p>
                  On this page, you can also edit the entry to add new fields or change any attributes previously entered. You can also delete the entry if it's no longer needed.
                  </br>
                  </br>
                </div>
              </div>
              <div class="row">
                <div class="card">
                  <div class="header">
                    <h4 class="title"><i class="pe-7s-global"></i>
                      <span style="padding-left:10px"></span>{{ records['object'] }}</h4>
                    <p class="category">{{ address }}</p>
                  </div>


                  <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                      <thead>
                        <th>Attribute</th>
                        <th>Value</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <span class="text-capitalize">Object Type</span>
                          </td>
                          <td>{{ records['type'] }}</td>
                        </tr>
                        {% if records['campaign']|length == 0 %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Campaign</span>
                          </td>
                          <td>-</td>
                        </tr>
                        {% else %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Campaign</span>
                          </td>
                          <td>{{ records['campaign'] }}</td>
                        </tr>
                        {% endif %} {% if records['confidence'] == "Low" %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Confidence</span>
                          </td>
                          <td><i class="fa fa-circle text-warning"></i> {{ records['confidence'] }}</td>
                        </tr>
                        {% elif records['confidence'] == "Medium" %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Confidence</span>
                          </td>
                          <td><i class="fa fa-circle text-info"></i> {{ records['confidence'] }}</td>
                        </tr>
                        {% elif records['confidence'] == "High" %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Confidence</span>
                          </td>
                          <td><i class="fa fa-circle text-danger"></i> {{ records['confidence'] }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Diamond Model</span>
                          </td>
                          <td>{{ records['diamondmodel'] }}</td>
                        </tr>
                        {% if records['firstseen']|length == 0 %}
                        <tr>
                          <td>
                            <span class="text-capitalize">First Seen</span>
                          </td>
                          <td>-</td>
                        </tr>
                        {% else %}
                        <tr>
                          <td>
                            <span class="text-capitalize">First Seen</span>
                          </td>
                          <td>{{ records['firstseen'] }}</td>
                        </tr>
                        {% endif %} {% if records['lastseen']|length == 0 %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Last Seen</span>
                          </td>
                          <td>-</td>
                        </tr>
                        {% else %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Last Seen</span>
                          </td>
                          <td>{{ records['lastseen'] }}</td>
                        </tr>
                        {% endif %} {% if records['comments']|length == 0 %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Comments</span>
                          </td>
                          <td>-</td>
                        </tr>
                        {% else %}
                        <tr>
                          <td>
                            <span class="text-capitalize">Comments</span>
                          </td>
                          <td>{{ records['comments'] }}</td>
                        </tr>
                        {% endif %} 
                        {% if records['tags']|length == 0 %}
                        <tr>
                        <td>
                        <span class="text-capitalize">Tags</span>
                        </td>
                        <td>-</td>
                        </tr>
                        {% else %}
                        <tr>
                        <td>
                        <span class="text-capitalize">Tags</span>
                        </td>
                        <td>
                        {% for tag in taglist %}
                        <button type="button" class="btn btn-default btn-fill btn-xs">{{ tag }}</button>
                        {% endfor %}
                        </td>
                        </tr>
                        {% endif %} 
                        {% for key in records %} {% if key == "id" or key == "type" or key == "campaign" or key == "confidence" or key == "Firstseen" or key == "tags" or key == "Lastseen" or key == "comments" or key == "diamondmodel" or key == "object" or key == "firstseen" or key == "relationships" or key
                        == "lastseen" or records[key] == "None" or records[key] == "" %}
                        <div></div>
                        {% else %}
                        <tr>
                          <td>
                            <span class="text-capitalize">{{ key }}</span>
                          </td>
                          <td>{{ records[key] }}</td>
                        </tr>

                        {% endif %} {% endfor %} 
                      </tbody>
                    </table>
                    </div>
                    </div>

                    {% if reldata > 0 %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">Relationships</h4>
                        <p class="category">This table shows the indicators related to {{ records['object'] }}</p>
                      </div>
                      <div class="content">
                        <table class="table table-hover table-striped">
                      <thead>
                        <th>Attribute</th>
                        <th>Value</th>
                      </thead>
                      <tbody>
                      {% for rel in temprel %}
                       <tr>
                       <td>{{ rel }}</td>
                       <td>{{ temprel[rel] }}</td>                     
                       </tr>
                       {% endfor %}
                            </tbody>
                            </table>
                      </div>
                    </div>
                    </div>
                    </div>
                    {% endif %}

                    {% if settingsvars['whoisinfo'] == "on" %}
                {% if records['type'] == "IPv4" %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">Whois Information</h4>
                        <p class="category">More information can be found at <a href="https://who.is/whois-ip/ip-address/{{ records['object'] }}" target="_blank">who.is</a></p>
                      </div>
                      <div class="content">
                        <table class="table table-hover table-striped">
                      <thead>
                        <th>Attribute</th>
                        <th>Value</th>
                      </thead>
                      <tbody>
                       {% for line in whoisdata %}
                          {% if line == "raw" or line == "raw_referral" or line == "referral" %}
                            <div></div>
                            {% elif line == "nets" %}
                              {% for i in whoisdata['nets'][0] %}
                              <tr>
                            <td><span class="text-capitalize">{{ i }}</span</td><td>{{ whoisdata['nets'][0][i] }}</td>
                            </tr>
                            {% endfor %}
                            {% elif line == "asn" %}
                            <tr>
                            <td><span class="text-capitalize">{{ line }}</span></td>
                            <td>{{ whoisdata[line] }}</td>
                            </tr>
                            {% else %}
                            <tr>
                            <td><span class="text-capitalize">{{ line }}</span></td><td>{{ whoisdata[line] }}</td></tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                            </table>
                      </div>
                    </div>
                    </div>
                    </div>
                    {% elif records['type'] == "Domain" %}
                    <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">Whois Information</h4>
                        <p class="category">More information can be found at <a href="https://who.is/whois-ip/ip-address/{{ records['object'] }}" target="_blank">who.is</a></p>
                      </div>
                      <div class="content">
                        <table class="table table-hover table-striped">
                      <thead>
                        <th>Attribute</th>
                        <th>Value</th>
                      </thead>
                      <tbody>
                      {% for line in whoisdata %}
                            <tr>
                            <td><span class="text-uppercase">{{ line }}</span></td>
                            <td>{{ whoisdata[line] }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                      </div>
                    </div>
                    </div>
                    </div>
                        {% endif %} {% endif %}

                        {% if settingsvars['vtinfo'] == "on" %}
                {% if records['type'] == "IPv4" %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">VirusTotal Information</h4>
                        <p class="category">More information can be found at <a href="https://www.virustotal.com" target="_blank">VirusTotal</a></p>
                      </div>
                      <div class="content">
                       <table class="table table-hover table-striped">
                      <thead>
                        <th>Last Resolved</th>
                        <th>Hostname</th>
                      </thead>
                      <tbody>
                      {% for record in jsonvt['resolutions'] %}
                            <tr>
                            <td>{{ record['last_resolved'] }}</td>
                            <td>{{ record['hostname'] }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                      </div>
                    </div>
                    </div>
                    </div>
                    {% elif records['type'] == "Domain" %}
                    <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">VirusTotal Information</h4>
                        <p class="category">More information can be found at <a href="https://www.virustotal.com" target="_blank">VirusTotal</a></p>
                      </div>
                      <div class="content">
                       <table class="table table-hover table-striped">
                      <thead>
                        <th>Last Resolved</th>
                        <th>IP Address</th>
                      </thead>
                      <tbody>
                      {% for record in jsonvt['resolutions'] %}
                            <tr>
                            <td>{{ record['last_resolved'] }}</td>
                            <td>{{ record['ip_address'] }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                      </div>
                    </div>
                    </div>
                    </div>
                        {% endif %} {% endif %}


                        {% if settingsvars['odnsinfo'] == "on" %}
                        {% if records['type'] == "IPv4" %}
                        <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">OpenDNS Investigate Information</h4>
                        <p class="category">More information can be found at <a href="https://sgraph.opendns.com/ip-view/{{ records['object'] }}" target="_blank">OpenDNS</a></p>
                      </div>
                      <div class="content">
               <table class="table table-hover table-striped">
                      <thead>
                        <th>Last Malicious</th>

                      </thead>
                      <tbody>
                      {% for record in odnsdata %}
                            <tr>
                            <td>{{ record }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                      </div>
                    </div>
                    {% elif records['type'] == "Domain" %}
                    <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">OpenDNS Investigate Information</h4>
                        <p class="category">More information can be found at <a href="https://sgraph.opendns.com/domain-view/name/{{ records['object'] }}/view" target="_blank">OpenDNS</a></p>
                      </div>
                      <div class="content">
               <table class="table table-hover table-striped">
                      <thead>
                        <th>Key</th>
                        <th>Value</th>
                      </thead>
                      <tbody>
                      {% for k,v in odnsdata.iteritems()%}
                            <tr>
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                      </div>
                    </div>
                    </div>
                    </div>
                        {% endif %} {% endif %}

                    {% if settingsvars['threatcrowd'] == "on" %}
                {% if records['type'] == "IPv4" %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">ThreatCrowd Visualization</h4>
                        <p class="category">More information can be found at <a href="https://www.threatcrowd.org/ip.php?ip={{ records['object'] }}" target="_blank">ThreatCrowd</a></p>
                      </div>
                      <div class="content">
                        <iframe src='https://www.threatcrowd.org/graphHtml.php?ip={{ records['object'] }}' frameborder='0' scrolling='no' width="100%" height="500px"></iframe>
                      </div>
                    </div>
                    {% elif records['type'] == "Domain" %}
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="header">
                            <h4 class="title">ThreatCrowd Visualization</h4>
                            <p class="category">More information can be found at <a href="https://www.threatcrowd.org/domain.php?domain={{ records['object'] }}" target="_blank">ThreatCrowd</a></p>
                          </div>
                          <div class="content">
                            <iframe src='https://www.threatcrowd.org/graphHtml.php?domain={{ records['object'] }}' frameborder='0' scrolling='no' width="100%" height="500px"></iframe>
                          </div>
                        </div>
                        </div>
                        </div>
                        {% endif %} {% endif %}
                        
                         {% if settingsvars['circlinfo'] == "on" %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">CIRCL Passive DNS</h4>
                        <p class="category">More information can be found at <a href="https://www.circl.lu/services/passive-dns/" target="_blank">CIRCL</a></p>
                      </div>
                      <div class="content">
                       <table class="table table-hover table-striped">
                      <thead>
                        <th>Record Type</th>
                        <th>Record Data</th>
                        <th>First Seen</th>
                        <th>Last Seen</th>

                      </thead>
                      <tbody>
                      {% for i in circldata %}
                            <tr>
                            <td>{{ i['rrtype'] }}</td>
                            <td>{{ i['rdata'] }}</td>
                            <td>{{ i['time_first'] }}</td>
                            <td>{{ i['time_last'] }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                      </div>
                    </div>
                    </div>
                    </div>
                    {% endif %}
{% if settingsvars['ptinfo'] == "on" %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">PassiveTotal Passive DNS</h4>
                        <p class="category">More information can be found at <a href="https://www.passivetotal.org/" target="_blank">PassiveTotal</a></p>
                      </div>
                      <div class="content">
                       <table class="table table-hover table-striped">
                      <thead>
                        <th>Resolved</th>
                        <th>First Seen</th>
                        <th>Last Seen</th>

                      </thead>
                      <tbody>
                      {% for result in ptdata['results']['records'] %}
                      <tr>
                      <td>{{ result['resolve'] }}</td>
                      <td>{{ result['firstSeen'] }}</td>
                      <td>{{ result['lastSeen'] }}</td>
                      </tr>
                      {% endfor %}
                      
                            <tr>
                            
                            </tbody>
                            </table>
                      </div>
                    </div>
                    </div>
                    </div>
                    {% endif %}

                        </div>
                </div>
              </div>
            </div>
          </div>

          <footer class="footer">
            <div class="container-fluid">
              <nav class="pull-left">
                <ul>
                  <li>
                    <a href="/about">
                                About
                            </a>
                  </li>
                  <li>
                    <a href="/credits">
                                Credits
                            </a>
                  </li>
                </ul>
              </nav>

              <p class="copyright pull-right">
                &copy; 2015 <a href="https://defpoint.com/">Defense Point Security</a>
              </p>
            </div>
          </footer>
        </div>
      </div>
</body>

<!--   Core JS Files   -->
<script src="../../static/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../../static/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="../../static/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="../../static/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../../static/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../../static/js/light-bootstrap-dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table-all.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="../../static/js/demo.js"></script>

</html>